.hide { display: none !important; }

body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 2px;
    overflow: hidden;
}

/***************
 * TYPE DEFAULTS
 ***************/
a {
    color: #3f51b5;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h1 {
    font-size: 3.400rem;
    font-weight: 400;
    line-height: 4rem;
}
h2 {
    font-size: 2.400rem;
    font-weight: 400;
    line-height: 3.2rem;
}
h3 {
    font-size: 2.000rem;
    font-weight: 500;
    letter-spacing: 0.005em;
}
h4 {
    font-size: 1.600rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 2.4rem;
}
p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 2.2rem;
    margin: 1.6rem 0;
}
strong {
    font-weight: 500;
}
td, th {
    padding: 12px 8px;
    text-align: left;
}
td {
    vertical-align: top;
}
td.description *:first-child {
    margin-top: 0;
}
td.description *:last-child {
    margin-bottom: 0;
}
tr:nth-child(even) td {
    background-color: #f5f5f5;
}
th {
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}
blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.12);
    font-style: italic;
    margin-left: 0;
    padding-left: 16px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin-left: 16px;
    padding: 0;
    margin-top: 3px;
    list-style-position: inside;
}
ul li:first-child {
    margin-top: 0;
}
/************
 * UTILS
 ************/
ul.skip-links li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.skip-links li a {
    background-color: #fff;
    display: block;
    margin: 0.5em 0 0.5em 0.5em;
    opacity: 0;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 92%;
    -webkit-transition: opacity   0.15s linear;
    -moz-transition: opacity  0.15s linear;
    transition: opacity   0.15s linear;
}
ul.skip-links li a:focus {
    background-color: #fff !important;
    opacity: 1;
    z-index: 2;
}

/**
**/
.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px 0 0 16px;
    width: 36px;
}
md-toolbar h1 {
    font-weight: normal;
}
md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}


.docs-menu,
.docs-menu ul {
    list-style: none;
    padding: 0;
}
.docs-menu li {
    margin: 0;
}
.docs-menu > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.docs-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}
.docs-menu button.md-button::-moz-focus-inner {
    padding: 0;
}
.docs-menu .md-button.active {
    color: #03a9f4;
}
.menu-heading {
    display: block;
    line-height: 40px;
    margin: 0;
    padding: 0px 16px;
    text-align: left;
    width: 100%;
}
.docs-menu li.parentActive,
.docs-menu li.parentActive .menu-toggle-list {
    background-color: #f6f6f6;
}
.menu-toggle-list {
    background: #fff;
    max-height: 1300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}
.menu-toggle-list.ng-hide {
    max-height: 0;
}
.docs-menu .menu-toggle-list a.md-button {
    display: block;
    font-weight: 400;
    padding: 0 16px 0 32px;
    text-transform: none;
}
.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
/* End Docs Menu */

.docs-logo:focus {
    outline: none;
}
.docs-logo md-icon {
    height: 40px;
    margin: 0;
    width: 40px;
}
.docs-logotype {
    line-height: 40px;
    text-indent: 15px;
}
.docs-menu-icon {
    background: none;
    border: none;
    margin-right: 16px;
    padding: 0;
}
.docs-menu-separator-icon {
    margin: 0;
    padding: 0 10px;
}
.docs-menu-separator-icon img {
    height: 16px;
}
