[project]
	description = Android Device API Based on ddmlib
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bluesky Yao (cosyman)
[access "refs/for/refs/*"]
	read = group user/Bluesky Yao (cosyman)
	push = group user/Bluesky Yao (cosyman)
	label-Code-Review = -2..+2 group user/Bluesky Yao (cosyman)
	label-Verified = -1..+1 group user/Bluesky Yao (cosyman)
	rebase = group user/Bluesky Yao (cosyman)
	removeReviewer = group user/Bluesky Yao (cosyman)
	submit = group user/Bluesky Yao (cosyman)
[access "refs/heads/*"]
	read = group user/Bluesky Yao (cosyman)
	create = group user/Bluesky Yao (cosyman)
	push = +force group user/Bluesky Yao (cosyman)
	pushMerge = group user/Bluesky Yao (cosyman)
[access "refs/tags/*"]
	push = group user/Bluesky Yao (cosyman)
	push = +force group user/Bluesky Yao (cosyman)
